/*Tag Selectors*/

body {
	text-align: center;
/*	background-color: #a8d8f0;
*/	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #a8d8f0;
	font-family: "HelveticaNeue-Light";
}

img {
	width: 200px;
	height: 200px;
}

.hidden {
	visibility: hidden
}

.revealImg {
	visibility: visible;
}


/*Class*/

.center {
	position: relative;
	width: 80%;
	margin-left: 18%;
}





/*ID*/