/*Tag*/

body {
	text-align: center;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #a8d8f0;
	font-family: "HelveticaNeue-Light";
}

img {
	width: 200px;
	height: 200px;
}



/*Class*/

.center {
	position: relative;
	width: 80%;
	margin-left: 18%;
}


.hidden {
	visibility: hidden;
}


.overlay {
  background-color: rgba(0,0,0,0.9);
}

.rotateY {
	-webkit-transform: rotateY(90deg);
}

.revealImg {
	-webkit-animation-delay: 5s;
	-webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  -webkit-transform: rotateY(360deg);
}


.hideImg {
	-webkit-transform: rotateY(360deg);
	-webkit-animation: hideImgAnimation .5s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-delay: .9s;
}

  
@-webkit-keyframes hideImgAnimation {
     0%   {-webkit-transform: rotateY(0deg);}
     80%  {-webkit-transform: rotateY(0deg);}
     100% {-webkit-transform: rotateY(270deg);}
}







/*ID*/