/*Tag Selectors*/

body {
	text-align: center;
/*	background-color: #a8d8f0;
*/	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #a8d8f0;
	font-family: "HelveticaNeue-Light";
}

img {
	width: 200px;
	height: 200px;
}

.hidden {
	visibility: hidden;
}

.revealImg {
	-webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  -webkit-transform: rotateY(180deg);
  visibility: visible;
}

.hideImg {
	-webkit-animation-delay: 5s;
	-webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    -webkit-transform: rotateY(270deg);

}



/*Class*/

.center {
	position: relative;
	width: 80%;
	margin-left: 18%;
}





/*ID*/